# Node modules
node_modules/

# Output and build
dist/
build/
.out/

# Schema output (optional, only if you regenerate them)
schema/*.json

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
